body {
    text-align: center;
    color: aquamarine;
}
h1 {
    text-align: center;
    color: aquamarine;
}

p {
    text-align: center;
    color: aquamarine;
}

div {
    text-align: center;
    color: aquamarine;
}
.pageheader{
    text-align: center;
    color: aquamarine;
}