@model WebsiteProjectCarpetMart.ViewModels.ClassViewModel
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registered For Class</title>
</head>
<body>
    <h1>You successfully registered for @Model.ClassName!</h1>
</body>
</html>
