@model WebsiteProjectCMart.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Account Login";
}
<h1>Please log in to your account.</h1>

<div class="container border" style="padding:25px">
	<form asp-action="Login">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group row">
			<div class="col-1">
				<label asp-for="Username" class="control-label"></label>
			</div>
			<div class="col-4">
				<input type="text" asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-1">
				<label asp-for="Password" class="control-label"></label>
			</div>
			<div class="col-4">
				<input type="password" asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-1">
				<input type="submit" class="btn btn-primary" value="Login" />
			</div>
			<div class="col-5">
				<input type="submit" class="btn btn-primary" value="Register" />
			</div>
		</div>
	</form>
</div>
@{
    if(Model != null)
    {
        if(Model.EntrySuccessfull)
        {
            <h2>You have logged in.</h2>
        }
        else
        {
            <h2>Invalid account username/password.</h2>
        }
    }
}