@{
    ViewData["Title"] = "Profile Deleted";
}
<div class="text-center">
    <h1 class="display-4">Your profile has been deleted.</h1>
    <p>If you'd like to add it again you can go back your profile and resubmit your information.'</a>.</p>
</div>
